{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}"/>
<h1>Hello World!</h1>

<form action='Employees' method='GET'>
    <button type='submit'> Employees</button>
    </form>
<form action='Facilities' method='GET'>
    <button type='submit'> Facilities</button>
    </form>
<form action='InfectionRecords' method='GET'>
    <button type='submit'> Infection Records</button>
    </form>
<form action='VaccinationRecords' method='GET'>
    <button type='submit'> Vaccination Records</button>
    </form>
<form action='Query6page' method='GET'>
    <button type='submit'> Query#6</button>
    </form>  
<form action='Query7page' method='GET'>
    <button type='submit'> Query#7</button>
    </form>    
<form action='Query8page' method='GET'>
    <button type='submit'> Query#8</button>
    </form> 
<form action='Query9page' method='GET'>
    <button type='submit'> Query#9</button>
    </form>
<form action='Query10page' method='GET'>
    <button type='submit'> Query#10</button>
    </form>  
<form action='Query11page' method='GET'>
    <button type='submit'> Query#11</button>
    </form>  
<form action='Query12page' method='GET'>
    <button type='submit'> Query#12</button>
    </form>  
<form action='Query13page' method='GET'>
    <button type='submit'> Query#13</button>
    </form>
<form action='Query14page' method='GET'>
    <button type='submit'> Query#14</button>
    </form>
<form action='Query15page' method='GET'>
    <button type='submit'> Query#15</button>
    </form>  
<form action='Query16page' method='GET'>
    <button type='submit'> Query#16</button>
    </form>  
<form action='Query17page' method='GET'>
    <button type='submit'> Query#17</button>
    </form> 
  
<form method='GET'>
    {{form1.as_p}}
    <button type="submit" class="bluebtn" name="btnform1">Save Changes</button>
    </form>
    <form method='GET'>
    {{form2.as_p}}
    <button type="submit" name="btnform2">Save Changes</button>
    </form>
